

.font-display{
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
  

.font-primary {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}




.font-secondary {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}